/* You can add global styles to this file, and also import other style files */

body {
  background-color: whitesmoke;
  margin: 0;
}

.row-button {
  margin: 0 5px;
}

.row-button-right {
  justify-self: flex-end;
  margin: 0 5px;
}