<header>
  <button pButton type="button" (click)="back()" label="Back" class="ui-button-raised ui-button-secondary"></button>
  <span class="page-title">{{project.name}}</span>
  <button pButton type="button" (click)="save()" label="Save" class="ui-button-raised"></button>
</header>

<div class="project-wrapper">
  <div class="project-content">
    <div class="ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <label for="name">Name</label>
          <input id="name" type="text" pInputText placeholder="Name" [(ngModel)]="project.name">
        </div>
        <div class="ui-g-12 ui-md-6"> 
          <label for="totalCost">Total Cost</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span> 
            <input id="totalCost" type="text" pInputText pKeyFilter="money" placeholder="Total Cost" [(ngModel)]="project.totalCost">
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea autoResize="autoResize" [(ngModel)]="project.description"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>