<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <input type="text" pInputText placeholder="Name" [(ngModel)]="project.name">
    </div>
    <div class="ui-g-12 ui-md-6"> 
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span> 
        <input type="text" pInputText placeholder="Total Cost" [(ngModel)]="project.totalCost">
      </div>
    </div>
    <div class="ui-g-12 ui-md-6">
      <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="project.description"></textarea>
    </div>
  </div>
</div>

<div class="flex-row">
  <button pButton type="button" label="Save" class="ui-button-raised row-button" (click)="save()"></button>
  <button pButton type="button" label="Close" class="ui-button-raised ui-button-secondary row-button" (click)="close()"></button>
</div>